.App {
  text-align: center;
}

@font-face {
  font-family: "Brush";   /*Can be any text*/
  src: local("Pacifico-Regular"),
    url("./fonts/Pacifico-Regular.ttf") format("truetype");
}

html, body {
  margin: 0;
  height: 100%;
}

body {
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 720s ease infinite;
	height: 100vh;
}

.header-container {
  z-index: 99;
  padding: 0;
}

.username {
  height: 32px;
  font-size: 12px!important;
  line-height: 22px;
  border: 1px solid #fff;
}

.logout-button {
  font-size: 12px;
}

.pageHeader {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

a.page-title-link {
  position: relative;
  z-index: 100;
}

.page-title {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family:'Brush', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  line-height: 36px;
  background-color: #7d1374;
  border: 3px solid #7d1374;
  display: inline-block;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 0;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  padding-bottom: 10px;
  transition: all .1s;
}

.page-title:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.page-title span {
  position: relative;
  z-index: 1000;
}

.doggo-col {
  position: relative;
  top: -300px;
  height: calc(100% + 400px);
}

.doggo-wrap.doggo-home {
  position: absolute;
  bottom: 0;
  right: -32px;
  width: 130%;
  height: 100%;
  overflow: hidden;
}

.doggo-wrap {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow: visible;
  height: 100px;
  z-index: 1000;
  position: relative;
  pointer-events: none;
}

.doggo-div {
  position: relative;
  height: 300px;
  width: 600px;
  overflow: visible;
  pointer-events: none;
}

.doggo-wrap.doggo-home .doggo-div {
  right: -40px;
  top: 10px;
  width: 100%;
  height: 100%;
}

.doggo-shape {
  filter: invert(14%) sepia(83%) saturate(3033%) hue-rotate(291deg) brightness(87%) contrast(99%);
  position: absolute;
  object-fit:scale-down;
  height: 200%;
  width: 200%;
  left: 0;
  top: -50%;
  pointer-events: none;
}

.doggo-img {
  position: relative;
  z-index: 1000;
  height: 100%;
  object-fit:scale-down;
  pointer-events: none;
}

.doggo-wrap.doggo-home .doggo-img {
  top: 150px;
  transform: scale(1.1);
}

.ldbutton, .ldbutton:disabled {
  position: relative;
  border: 1px solid #fff;
}

.ldbutton.btn-secondary {
  border: 1px solid #fff;
  background: rgba(0,0,0,.75);
}

.ldbutton, #breed-dropdown, .breed-sort {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border: 1px solid #eee;
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
}

.ldbutton:hover {
  border: 1px solid #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.10);
}

.page-title:after, .ldbutton:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
}
.page-title:hover:after, .ldbutton:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

.page-title:hover span {
  background: -webkit-linear-gradient(-45deg, rgb(244, 244, 38), #ff78ac, #78dbff, #68ff3e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-title .logo-arc {
  background: linear-gradient(to right bottom, rgb(244, 244, 38), #ff8d30 75%);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 85%;
  display: inline-block;
  width: 100%;
  height: 50%;
}

.page-title:hover .logo-arc {
  background: linear-gradient(to left bottom, rgb(255, 123, 0), #ff00c3 75%);
}

.ldBody {
  background-color: #fefefe;
  border-radius: 2px;
  padding: 10px 20px 60px 20px;
  min-height: 324px;
  margin-top: 0!important;
}

.ldBody .form-label {
  float: left;
}

.main-text {
  position: relative;
  top: 0;
  z-index: 1000;
  display: block;
  background: -webkit-linear-gradient(-45deg, rgb(244, 244, 38), #ff78ac, #78dbff, #68ff3e);
  background-size: 120% 120%;
  padding-bottom: 20px;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 rgba(0,0,0,.05);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 76px;
  line-height: 68px;
}

.standout-text {
  text-align: start;
  margin-left: 1rem!important;
}

.inline-icon {
  margin-bottom: 3px;
  margin-left: 5px;
}

.loading-spinner {
  animation: rotation 2s infinite linear;
}

.breed-button-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 40px;
  margin-top: -35px;
}

.breed-button-group {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown:not(:last-child) #breed-dropdown {
  border-radius: 5px 0 0 5px;
}

#breed-dropdown, .breed-sort {
  height: 38px;
  overflow-x: scroll;
  white-space: nowrap;
}

#breed-dropdown:hover, .breed-sort:hover {
  border: 1px solid #fff;
  z-index: 1000;
}

.breed-sort:hover {
  transform: translateX(2%) scale(1.05);
}

#breed-dropdown:hover {
  transform: translateX(-2%) scale(1.05);
}

.breed-menu {
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.breed-search {
  margin: 0 8px 0 8px;
  width: calc(100% - 16px);
}

.breed-sort {
  overflow-y: hidden;
  overflow-x: scroll;
  font-size: 14px;
  max-width: 120px;
}

.card {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dog-img {
  max-height: 320px;
  min-height: 100px;
  background-color: #e6e6e6;
}

.card.side-card {
  box-shadow: none;
}

.card-img-overlay {
  padding: 5px 2px;
  font-size: 80%;
}

.card-text {
  font-style: italic;
}

.card-body {
  padding: 0;
}

.card-title:not(.side-title) {
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  width: calc(100% + 20px);
  margin-bottom: -10px;
  left: -10px;
  top: -10px;
  padding-top: 5px;
}

.side-img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66.66%; /* 3:2 aspect ratio */
}

.side-img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-header {
  margin: 0;
  position: relative;
  top: -4px;
  font-size: 90%;
}

.side-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  transition: transform 0.2s ease-out;
}

.card:hover .side-info {
  transform: translateY(-100%);
}

.side-title {
  font-size: 26px;
  margin: 2px 0 0 0;
}

.side-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.side-text {
  font-size: 12px;
}

.dogObject {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: width .2s;
}

.dogObject .card:hover {
  transform: scale(1.05);
}

.dogObject .card-img-overlay .card-text {
  position: absolute;
  padding: 6px 2px;
  top: 0;
  color: white;
  font-weight: bold;
  line-height: 16px;
  background: rgba(0,0,0,.5);
  text-shadow: 0 1px 5px #000;
  width: calc(100% + 10px);
  margin-left: -5px;
}

.side-info .card-img-overlay .card-text {
  position: absolute;
  top: 0;
  color: white;
  font-weight: bold;
  line-height: 16px;
  background: rgba(0,0,0,.5);
  text-shadow: 0 1px 5px #000;
  width: calc(100% + 10px);
  margin-left: -5px;
}

.selected {
  background-color: #e6e6e6;
}

.App-link {
  color: #61dafb;
}

.middle-container {
  padding: 20px 10px;
}

.dragging-dog {
  border-radius: 50%;
  padding: 5px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side-container {
  background-color: #fff;
  border-left: 1px solid #cecece;
  padding: 0 0 20px 11px;
  margin-right: -30px;
  min-width: 150px;
  border-radius: 0 calc(1rem - 1px) calc(1rem - 1px) 0 ;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  z-index: 100;
}

.right-side-title {
  margin-top: -30px;
  text-align: start;
  z-index: -500;
}

.right-side-empty {
  height: 0px;
  padding: 60px 5px 60px 5px;
}

.right-side-scroller {
  position: relative;
  min-height: 50vh;
  overflow-y: scroll;
}

.right-side-container {
  top: 80px;
}

.right-side-title {
  margin-top: -20px;
  margin-left: 5px!important;
}

.right-side-scroller {
  position: relative;
  top:4px;
  margin-bottom: -4px;
  max-height: calc(100vh - 100px);
}

.right-side-droppable {
  width: 100%;
  height: 100%;
  padding: 10px 11px 10px 0;
  overflow-x: hidden;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
}

.page-count {
  font-size: 14px;
  font-weight: bold;
  margin: 4px 0 4px 0;
}

.page-count span {
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 5px 5px 0 0;
}

.footer {
  position: relative;
  top: 40px;
  height: 40px;
  font-size: 10px;
  max-width: 30%;
  margin-left: 35%;
}

@media (max-width: 1250px) {
  .right-side-title {
    position: relative;
    left: -10px;
    font-size: 12px;
  }

  .breed-sort span {
    display: none;
  }

  .breed-sort {
    max-width: 40px;
  }

  .side-title {
    font-size: 18px;
    margin: -5px 0 0 0;
  }
  
  .side-subtitle {
    font-size: 12px;
    margin-bottom: 8px;
  }
  
  .side-text {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  .username span{
    display: none;
  }
}

@media (max-width: 992px) {
  .page-title {
    float: left;
  }
  .page-title, .logout-button {
    font-size: 18px;
    line-height: 16px;
    height: 38px;
  }
  .username {
    line-height: 26px;
    height: 38px;
  }
  .logout-button span {
    display: none;
  }
  #breed-dropdown, .breed-sort {
    font-size: 12px;
    line-height: 16px;
  }
  .doggo-div {
    right: -20px;
    top: 40px;
  }
  .doggo-shape {
    right: -40px;
  }
  .right-side-title {
    margin-top: 15px;
    margin-bottom: -5px;
  }
  .footer {
    max-width: none;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .page-title {
    float: left;
  }
  .page-title, .logout-button {
    font-size: 16px;
    line-height: 14px;
    height: 38px;
  }
  .card:not(.side-card) {
    width: calc(100% + 10px);
    margin-left: -5px;
  }
  .card-title, .card-subtitle, .card-text {
    font-size: 80%;
  }
  .right-side-container {
    min-width: 0;
  }
  .side-info {
    padding: 20px 5px;
  }
  .logout-button span {
    display: none;
  }
  #breed-dropdown, .breed-sort {
    font-size: 10px;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
